$large: 700px;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import './variables.scss';

// import other pages
@import './splash.scss';

// $color1:

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.social-link {
  border: 3px solid #393e44;
  font-size: 1.5rem;
  margin: 5px;
  text-decoration: none;
}

.social-link:hover {
  color: #393e44;
  text-shadow: 0px 0px 10px #90e6e9;
}

.section {
  width: 100%;
}

#down-arrow-container-1 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 4200ms;
}

#down-arrow-1 {
  color: #393e44;
  font-family: Righteous;
  font-size: 3rem;
  opacity: 1;
  text-shadow: 0px 0px 5px #f0f0f7;
  transition: text-shadow 0.5s ease-in-out;
  transform: translateX(-50%);
}

#down-arrow-1:hover {
  text-shadow: 0px 0px 5px #90e6e9;
}

.down-arrow {
  color: #393e44;
  font-family: Righteous;
  font-size: 3rem;
  padding-bottom: 10vh;
  text-shadow: 0px 0px 5px #f0f0f7;
  transition: text-shadow 0.5s ease-in-out;
}

#down-arrow:hover {
  text-shadow: 0px 0px 5px #90e6e9;
}

#bio {
  align-items: center;
  background-color: #5c5552;
  border-bottom: #393e44 10px dotted;
  border-top: #413026 10px dotted;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5vh;
  text-align: center;

  .bio-container {
    margin-bottom: 5vh;

    #bio ul {
      font-family: 'Montserrat', 'sans-serif';
      list-style: none;
      text-align: center;
      margin-bottom: 10px;
    }

    #bio-left {
      display: flex;
      flex-direction: column;
    }

    #big-k {
      font-family: Righteous;
      font-size: 4rem;
      line-height: 1rem;
    }

    strong {
      font-weight: bold;
    }

    #bio p {
      font-family: 'Montserrat', 'sans-serif';
      margin-left: 20px;
      margin-right: 20px;
    }

    #bio-p1 {
      font-size: 1.1rem;
      margin-top: 35px;
      /* position: relative; */
      top: -25px;
    }

    #bio-p2 {
      text-align: center;
      margin-bottom: 10px;
    }

    #bio-p1 strong {
      font-size: 2rem;
    }

    #bio-header {
      font-family: Righteous;
      font-size: 1.5rem;
    }

    #bio-right {
      display: flex;
      flex-direction: column;
    }

    #bio-p3 {
      text-align: center;
      margin-bottom: 10px;
    }

    .social-links {
      display: flex;
      padding-bottom: 1vh;
    }

    .social-link {
      border-radius: 15px;
      padding: 10px;
    }

    @media only screen and (min-width: 700px) {
      .bio-container {
        width: 75vw;
      }

      #bio-p1 {
        font-size: 1.7rem;
      }

      #bio-p1 strong {
        font-size: 2rem;
      }

      .skills-list,
      .language-list {
        font-size: 1.5rem;
      }

      .social-links {
        padding-bottom: 15vh;
      }
    }
  }
}
#projects {
  align-items: center;
  background-color: #393e44;
  border-bottom: #949497 10px dotted;
  border-top: #5c5552 10px dotted;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;

  .projects-header {
    font-family: Righteous;
    font-size: 1.5rem;
  }

  .projects-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 95vw;

    .project {
      height: 60vh;
      margin: 15px;
      max-height: 60vw;
      max-width: 60vh;
      text-align: center;
      width: 60vw;

      img {
        border: 10px solid black;
        border-radius: 50%;
        height: 100%;
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 700px) {
    .project {
      height: 20vh;
      max-height: 20vw;
      max-width: 20vh;
      text-align: center;
      width: 20vw;
    }
  }
}

#contact {
  align-items: center;
  background-color: #949497;
  border-top: #393e44 10px dotted;
  color: #393e44;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5vh;

  .contact-header {
    font-family: Righteous;
    font-size: 1.5rem;
    margin-bottom: 5vh;
  }

  #contact p {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.3rem;
    padding: 0 10vw;
    margin-bottom: 20px;
    text-align: center;
  }

  i.far {
    padding: 20px;
  }

  p {
    font-family: 'Montserrat', 'sans-serif';
  }

  #contact-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    label {
      font-family: Righteous;
      padding: 10px;
    }

    input {
      font-family: 'Montserrat', 'sans-serif';
      text-align: center;
      padding: 10px;
      width: 70vw;
    }

    textarea {
      font-family: 'Montserrat', 'sans-serif';
      padding: 10px;
    }

    #msg-body {
      height: 25vh;
      width: 90vw;
    }
  }

  @media only screen and (min-width: 700px) {
    #contact-form {
      input {
        width: 40vw;

        #msg-body {
          width: 75%;
        }
      }
    }
  }
}
