@import './variables.scss';

// import other pages
@import './splash.scss';
@import './bio.scss';
@import './projects.scss';

// $color1:
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.section {
  width: 100%;
}

.highlightable-box {
    transition: all .3s ease-in-out;
}

.highlightable-box:focus {
    box-shadow: 0 0 10px $deep-space-sparkle;
}
