@import './variables.scss';

#splash {
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    lighten($gunmetal, 10%) 30%,
    darken($splash-bg, 30%) 90%,
    $carnelian
  );
  // background-color: #413026;
  // border-bottom: $carnelian 10px dotted;
  display: flex;
  height: 100vh;

  .mandala-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
    height: 85vh;
    max-height: 85vw;
    width: 85vw;
    max-width: 85vh;
    opacity: 0;
    position: relative;

    img {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
    }

    #layer1 {
      opacity: 0;
      transition: opacity 1000ms ease-in;
    }

    #layer3 {
      opacity: 0;
      transition: opacity 1000ms ease-in-out;
      transition-delay: 800ms;
    }
    #layer4 {
      opacity: 0;
      transition: opacity 1000ms ease-in-out;
      transition-delay: 1500ms;
    }
    #layer5 {
      opacity: 0;
      transition: opacity 1000ms ease-in-out;
      transition-delay: 2200ms;
    }
    #layer6 {
      opacity: 0;
      transition: opacity 1000ms ease-in-out;
      transition-delay: 2900ms;
    }

    #layer2 {
      opacity: 0;
      transition: opacity 1000ms ease-in-out;
      transition-delay: 3600ms;
    }

    #layer8 {
      opacity: 0;
      transition: opacity 1000ms ease-in-out;
      transition-delay: 3600ms;
    }
    #layer7 {
      opacity: 0;
      transition: opacity 1000ms ease-in-out;
      transition-delay: 3400ms;
    }
    .initials {
      color: $deep-space-sparkle;
      font-family: Righteous;
      font-size: 6.5rem;
      opacity: 0;
      position: relative;
      z-index: 1;
      text-shadow: 0px 0px 4px $ghost-white;
      transition: opacity 900ms ease-in-out;
      transition-delay: 3400ms;
    }
  }

  @media only screen and (min-width: $large) {
    .mandala-container {
      height: 75vh;
      max-height: 75vw;
      max-width: 75vh;
      width: 75vw;

      .initials {
        font-size: 9em;
      }
    }
  }
}
