// breakpoints
$large: 700px;

// splash mandala colors
$gunmetal: #30343fff;
$ghost-white: #fafaffff;
$deep-space-sparkle: #335c67ff;
$electric-blue: #90e6e9ff;
$carnelian: #b31919ff;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&display=swap');

// section background colors
$splash-bg: #8f9492;
$bio-bg: #b5bab8;
$projects-bg: #393e44;
$contact-bg:  #949497;
