// splash mandala colors
$gunmetal: #30343fff;
$ghost-white: #fafaffff;
$deep-space-sparkle: #335c67ff;
$electric-blue: #90e6e9ff;
$carnelian: #b31919ff;

// section background colors
$splash-bg: #8f9492;
// $bio-bg
// $projects-bg
// $contact-bg
