#bio {
  background-color: #b5bab8;
  border-bottom: #393e44 10px dotted;
  border-top: #30343fff 10px dotted;
  display: flex;
  font-family: 'Righteous', 'sans-serif';
  flex-wrap: wrap;
  min-height: 100vh;
  padding-top: 5vh;
}

#bio #header {
  font-size: 3em;
  letter-spacing: 2px;
  height: 10vh;
  margin: 0 10px;
}

#bio #header #big-k,
#bio #header #big-g {
  font-size: 2em;
}

#bio #header #profession {
  font-size: 0.5em;
  letter-spacing: 1px;
  margin-top: 10px;
}

#bio #header #profession #where-from {
  font-size: 0.9em;
  padding: 5px 0;
}

#bio #bio-text {
  text-align: center;
  background-color: #cfd3d1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

#bio #bio-text p {
  margin: 15px 0;
}

#bio #bio-text #social-links {
  padding: 30px;
}

#bio #bio-text #social-links .social-link {
  font-size: 5rem;
}

#bio #bio-text #social-links .social-link:hover {
  color: #335c67ff;
}

#bio #tech {
  margin: auto;
}

#bio #tech #badges {
  display: flex;
}

#bio #tech #badges .badge {
  font-size: 2.5em;
  margin: 0 2px;
}

#bio #tech #badges #django-badge {
  font-size: 3em;
}

#bio #tech #github-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio #tech #github-info #stats {
  margin-left: auto;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.section {
  width: 100%;
}

#down-arrow-container-1 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 4200ms;
}

#down-arrow-1 {
  color: #393e44;
  font-family: Righteous;
  font-size: 3rem;
  opacity: 1;
  text-shadow: 0px 0px 5px #f0f0f7;
  transition: text-shadow 0.5s ease-in-out;
  transform: translateX(-50%);
}

#down-arrow-1:hover {
  text-shadow: 0px 0px 5px #90e6e9;
}

.down-arrow {
  color: #393e44;
  font-family: Righteous;
  font-size: 3rem;
  padding-bottom: 10vh;
  text-shadow: 0px 0px 5px #f0f0f7;
  transition: text-shadow 0.5s ease-in-out;
}

#down-arrow:hover {
  text-shadow: 0px 0px 5px #90e6e9;
}

#contact {
  align-items: center;
  background-color: #949497;
  border-top: #393e44 10px dotted;
  color: #393e44;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5vh;
}

#contact .contact-header {
  font-family: Righteous;
  font-size: 1.5rem;
  margin-bottom: 5vh;
}

#contact #contact p {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1.3rem;
  padding: 0 10vw;
  margin-bottom: 20px;
  text-align: center;
}

#contact i.far {
  padding: 20px;
}

#contact p {
  font-family: 'Montserrat', 'sans-serif';
}

#contact #contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#contact #contact-form label {
  font-family: Righteous;
  padding: 10px;
}

#contact #contact-form input {
  font-family: 'Montserrat', 'sans-serif';
  text-align: center;
  padding: 10px;
  width: 70vw;
}

#contact #contact-form textarea {
  font-family: 'Montserrat', 'sans-serif';
  padding: 10px;
}

#contact #contact-form #msg-body {
  height: 25vh;
  width: 90vw;
}

@media only screen and (min-width: 700px) {
  #contact #contact-form input {
    width: 40vw;
  }
  #contact #contact-form input #msg-body {
    width: 75%;
  }
}

#projects {
  align-items: center;
  background-color: #393e44;
  border-bottom: #949497 10px dotted;
  border-top: #b5bab8 10px dotted;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 0;
  position: relative;
}

#projects #projects-bg {
  margin-top: 20px;
}

#projects .projects-header {
  font-family: Righteous;
  font-size: 3.5rem;
  align-self: flex-start;
}

#projects .projects-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  padding: 25px;
  width: 95vw;
}

#projects .projects-container .project {
  height: 43vh;
  margin: 10px;
  max-height: 43vw;
  max-width: 43vh;
  padding: 2vw;
  position: relative;
  width: 43vw;
}

#projects .projects-container .project:after {
  transition: all 0.3s ease-in-out;
}

#projects .projects-container .project:hover:after {
  content: '';
  background-color: black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 10px;
  z-index: 1;
  opacity: 0.8;
  height: 100%;
  width: 100%;
}

#projects .projects-container .project img {
  border: 10px solid black;
  box-shadow: 0 0 15px black;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  #projects .project {
    height: 20vh;
    max-height: 20vw;
    max-width: 20vh;
    text-align: center;
    width: 20vw;
  }
}

.glow {
  box-shadow: inset 0 -100px 40px -35px #b31919ff;
  -moz-box-shadow: inset 0 -100px 40px -35px #b31919ff;
}

#splash {
  align-items: center;
  justify-content: center;
  background: linear-gradient(#464c5c 30%, #30343fff 90%);
  display: flex;
  height: 100vh;
  transition: all 0.7s ease-in-out;
  transition-delay: 4000ms;
}

#splash .mandala-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15vh;
  height: 85vh;
  max-height: 85vw;
  width: 85vw;
  max-width: 85vh;
  opacity: 0;
  position: relative;
}

#splash .mandala-container img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}

#splash .mandala-container #layer1 {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

#splash .mandala-container #layer3 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 800ms;
}

#splash .mandala-container #layer4 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 1500ms;
}

#splash .mandala-container #layer5 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 2200ms;
}

#splash .mandala-container #layer6 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 2900ms;
}

#splash .mandala-container #layer2 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 3600ms;
}

#splash .mandala-container #layer8 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 3600ms;
}

#splash .mandala-container #layer7 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 3400ms;
}

#splash .mandala-container .initials {
  color: #335c67ff;
  font-family: Righteous;
  font-size: 9.5rem;
  opacity: 0;
  position: relative;
  z-index: 1;
  text-shadow: 0px 0px 4px #fafaffff;
  transition: opacity 900ms ease-in-out;
  transition-delay: 3400ms;
}

@media only screen and (min-width: 700px) {
  #splash .mandala-container {
    height: 75vh;
    max-height: 75vw;
    max-width: 75vh;
    width: 75vw;
  }
  #splash .mandala-container .initials {
    font-size: 9em;
  }
}
