#bio {
  background-color: #b5bab8;
  border-bottom: #393e44 10px dotted;
  border-top: #30343fff 10px dotted;
  display: flex;
  font-family: "Righteous", "sans-serif";
  flex-wrap: wrap;
  min-height: 100vh;
  padding-top: 5vh;
}

#bio #header {
  font-size: 3em;
  letter-spacing: 2px;
  min-height: 10vh;
  margin: 10px auto;
  text-align: center;
}

#bio #header #big-k,
#bio #header #big-g {
  font-size: 2em;
}

#bio #header #profession {
  font-size: 0.5em;
  letter-spacing: 1px;
  margin-top: 10px;
}

#bio #header #profession #where-from {
  font-size: 0.9em;
  padding: 5px 0;
}

#bio #right-panel {
  margin: 0 auto;
  text-align: center;
}

#bio #right-panel #headshot {
  height: 40vh;
  width: 40vw;
  max-height: 40vw;
  max-width: 40vh;
  margin: 0 auto;
  margin-bottom: 20px;
}

#bio #right-panel #headshot img {
  border: 4px solid black;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

#bio #right-panel #soft-skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  width: 100%;
}

#bio #bio-text {
  text-align: center;
  background-color: #cfd3d1;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 10px;
  margin: 10px auto;
}

#bio #bio-text p {
  margin: 15px 0;
}

#bio #bio-text #social-links {
  padding: 30px;
}

#bio #bio-text #social-links .social-link {
  font-size: 5rem;
}

#bio #bio-text #social-links .social-link:hover {
  color: #335c67ff;
}

#bio #tech {
  margin: auto;
}

#bio #tech #badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

#bio #tech #badges .badge {
  font-size: 2.5em;
  margin: 0 2px;
}

#bio #tech #badges #django-badge {
  font-size: 3em;
}

#bio #tech #github-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio #tech #github-info #stats {
  margin-left: auto;
}

@media only screen and (min-width: 700px) {
  #bio #header {
    font-size: 6em;
  }
  #bio #header #profession {
    font-size: 0.4em;
  }
  #bio #header #profession #where-from {
    font-size: 0.8em;
  }
  #bio #tech #badges {
    width: 100%;
  }
}

#contact {
  align-items: center;
  background-color: #949497;
  border-top: #393e44 10px dotted;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2vh;
}

#contact #bg-mandala {
  background-image: url("../images/mandala/mandala3NoBg.png");
  background-position: 50%;
  background-size: 200%;
  opacity: 0.05;
  height: 100%;
  width: 100%;
  position: absolute;
}

#contact #contact-content {
  align-items: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#contact #contact-content .contact-header {
  color: #335c67ff;
  font-family: Righteous;
  font-size: 3.5em;
  margin-bottom: 5vh;
}

#contact #contact-content p {
  border-radius: 5px;
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0 10vw;
  margin-bottom: 20px;
  text-align: center;
  background-color: #c8c8c9;
  padding: 15px;
  opacity: 0.6;
}

#contact #contact-content i.far {
  padding: 20px;
}

#contact #contact-content #contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#contact #contact-content #contact-form label {
  font-family: Righteous;
  font-size: 1.2em;
  padding: 10px;
}

#contact #contact-content #contact-form input {
  border-radius: 5px;
  font-family: "Montserrat", "sans-serif";
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  width: 70%;
}

#contact #contact-content #contact-form textarea {
  border-radius: 5px;
  font-family: "Montserrat", "sans-serif";
  padding: 10px;
}

#contact #contact-content #contact-form #msg-body {
  height: 25vh;
  width: 90%;
}

@media only screen and (min-width: 700px) {
  #contact #bg-mandala {
    background-size: 150%;
  }
  #contact #contact-content p {
    font-size: 1.6em;
    padding: 30px 10px;
    width: 80vw;
  }
  #contact #contact-content #contact-form {
    width: 60vw;
  }
  #contact #contact-content #contact-form input {
    font-size: 1.3em;
    width: 40%;
  }
  #contact #contact-content #contact-form input #msg-body {
    width: 75%;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.section {
  width: 100%;
}

.highlightable-box {
  transition: all .3s ease-in-out;
}

.highlightable-box:focus {
  box-shadow: 0 0 10px #335c67ff;
}

#projects {
  align-items: center;
  background-color: #393e44;
  border-bottom: #949497 10px dotted;
  border-top: #b5bab8 10px dotted;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 0;
  position: relative;
}

#projects #projects-bg {
  margin-top: 10px;
}

#projects .projects-header {
  font-family: Righteous;
  font-size: 3.5rem;
  align-self: flex-start;
  margin-left: 15px;
}

#projects .projects-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 95vw;
}

#projects .projects-container .project {
  height: 43vh;
  margin: 10px;
  max-height: 43vw;
  max-width: 43vh;
  padding: 1vh;
  position: relative;
  width: 43vw;
}

#projects .projects-container .project img {
  border: 7px solid black;
  box-shadow: 0 0 15px black;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  #projects .project {
    height: 20vh;
    max-height: 20vw;
    max-width: 20vh;
    text-align: center;
    width: 20vw;
  }
}

.glow {
  box-shadow: inset 0 -100px 40px -35px #b31919ff;
  -moz-box-shadow: inset 0 -100px 40px -35px #b31919ff;
}

#splash {
  align-items: center;
  justify-content: center;
  background: linear-gradient(#464c5c 30%, #30343fff 90%);
  display: flex;
  height: 100vh;
  transition: all 0.7s ease-in-out;
  transition-delay: 4000ms;
}

#splash .mandala-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15vh;
  height: 85vh;
  max-height: 85vw;
  width: 85vw;
  max-width: 85vh;
  opacity: 0;
  position: relative;
}

#splash .mandala-container img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}

#splash .mandala-container #layer1 {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

#splash .mandala-container #layer3 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 800ms;
}

#splash .mandala-container #layer4 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 1500ms;
}

#splash .mandala-container #layer5 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 2200ms;
}

#splash .mandala-container #layer6 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 2900ms;
}

#splash .mandala-container #layer2 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 3600ms;
}

#splash .mandala-container #layer8 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 3600ms;
}

#splash .mandala-container #layer7 {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 3400ms;
}

#splash .mandala-container .initials {
  color: #335c67ff;
  font-family: Righteous;
  font-size: 9.5rem;
  opacity: 0;
  position: relative;
  z-index: 1;
  text-shadow: 0px 0px 4px #fafaffff;
  transition: opacity 900ms ease-in-out;
  transition-delay: 3400ms;
}

@media only screen and (min-width: 700px) {
  #splash .mandala-container {
    height: 75vh;
    max-height: 75vw;
    max-width: 75vh;
    width: 75vw;
  }
  #splash .mandala-container .initials {
    font-size: 9em;
  }
}
